<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Project</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <div class="logo">🌸 Iris AI</div>

    <div class="links">
        <a href="/">Home</a>
        <a href="/about">Project Info</a>
    </div>
</nav>

<div class="container">

    <h1>About This Project</h1>

    <p>
        This project uses Machine Learning to classify
        Iris flowers into:
    </p>

    <ul>
        <li>Setosa</li>
        <li>Versicolor</li>
        <li>Virginica</li>
    </ul>

    <p>
        Built using:
    </p>

    <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>Scikit-Learn</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>AI used : Copilot , ChatGPT</li>
    </ul>

    <p>
        Created by Amaan 
    </p>

</div>

</body>
</html>